.body {
  background-color: #5c5c5c;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

@media (max-width: 767px) {
  .body {
    width: 100vw;
  }

  .info {
    background-color: #fff;
    padding: 10px;
    display: flex;
    margin: 15vw;
    margin-top: 0;
    height: 10vh;
    width: 90vw;
  }
  .pg1 {
    text-align: right;
    padding-right: 1.3vw;
    margin: 0;
  }
  
  .pg2 {
    text-align: left;
    padding-right: 1.3vw;
    margin: 0;
  }
}

.spline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  margin: 0;
}

.info {
  background-color: #fff;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  margin-left: 15vw;
  margin-right: 15vw;
  height: 15vh;
  width: 90vw;
}

.pg1 {
  text-align: right;
  padding-right: 2vw;
}

.pg2 {
  text-align: left;
  padding-right: 2vw;
}
