.body {
  background-color: #5c5c5c;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.spline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 0;
}

.info {
  background-color: #fff;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  margin-left: 15vw;
  margin-right: 15vw;
  height: 15vh;
  width: 90vw;
}

.pg1 {
  text-align: right;
  padding-right: 2vw;
  vertical-align: middle;

}

.pg2 {
  text-align: left;
  padding-right: 2vw;
  vertical-align: middle;

}

@media (min-width: 650px) and (max-width: 1024px) { /*tablet size */
  .body {
    width: 100vw;
  }

  .info {
    background-color: #fff;
    padding: 10px;
    display: flex;
    margin: 15vw;
    margin-bottom: 0;
    margin-top: 0;
    height: 20vh;
    width: 90vw;
  }
  .pg1 {
    text-align: right;
    padding-right: 5vw;
    padding: 1.5vw;
    margin: 0;
    vertical-align: middle;
  }
  
  .pg2 {
    text-align: left;
    padding-right: 5vw;
    padding: 1.5vw;
    margin: 0;
    vertical-align: middle;
  }
}


 /* phone size */
 @media (max-width: 650px) {
  .spline-container {
    width: 20%;
    display: block;
  }

  .info {
    height: 25vh;
    width: 100%;
  }

  .pg1 {
    text-align: right;
    padding-right: 5vw;
    padding: 1.5vw;
    margin: 0;
    vertical-align: middle;
  }
  
  .pg2 {
    text-align: left;
    padding-right: 5vw;
    padding: 1.5vw;
    margin: 0;
    vertical-align: middle;
  }
  
}